.addtip td {
    color: #F5AB76;
}

body {
   background-color: #F5AB76;
}

.bejegyzes {
    padding-left: 200px;
    text-align: justify;
    padding-right: 50px;
}

.btn-primary {
    background-color: #F5AB76;
    border-color: #F5AB76;
}

.container {
    background-color: #ffffff;
    padding : 0px;
}

footer {
    height: 50px;
    color: #F5AB76;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #F0F0F0;
    margin-top: 20px;
}

.kereses {
    font-style: italic;
}

label {
    color: #F5AB76;
    font-family: 'Kaushan Script', cursive;
}

#id_category li {
    list-style-type: none;
    float: left;
    width: 205px;
    font-family: 'Kaushan Script', cursive;
}

.navbar-default .navbar-nav>li>a{
    color: #F5AB76;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

.navbar-default .navbar-brand {
    font-family: 'Ruthie', cursive;
    color: #F5AB76;
    font-size: 36px;
    margin-top: -8px;
}
.nav-stacked {
    float: left;
}
.nav-stacked a {
    color: #F5AB76;
}

.tiptitle {
    color: #F5AB76;
    font-family: 'Kaushan Script', cursive;
}

p a {
    color: #F5AB76;
    text-decoration: none;
}

.white-bg {
    background-color: #ffffff;
}

.white-bg>div {
    width: 320px;
    height: 340px;
    margin-right: 32px;
    margin-left: 38px;
    text-align: justify;
}
.white-bg h1 {
    text-align: center;
}

.white-bg h1 a {
    color: #F5AB76;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

.white-bg h1 a:hover{
    text-decoration: none;
}

.white-bg.row {
    margin: 0;
}