{% extends "base.html" %}

{% block tartalom %}
    <!-- képváltó kezdete(képek) -->
    <div class="camera_wrap">
        <div data-src="https://scontent-b-vie.xx.fbcdn.net/hphotos-prn1/t1.0-9/10269542_637401479643190_985649054418399998_n.jpg"></div>
        <div data-src="https://scontent-a-vie.xx.fbcdn.net/hphotos-prn1/l/t31.0-8/p417x417/1617140_597215186995153_1940327249_o.jpg"></div>
        <div data-src="https://scontent-b-vie.xx.fbcdn.net/hphotos-prn1/t1.0-9/1560594_601388253244513_1489065629_n.jpg"></div>
    </div>
     <!-- képváltó vége(képek) -->
    <!-- receptek kezdete -->
    <div class="white-bg row">
        {% for blog in blogs %}
        <div class="col-md-4">
            <h1><a href="{% url "post" blog.pk %}">{{ blog.title }}</a></h1>
            <p>{{ blog.post|truncatewords:70|slice:"-4" }} <a href="{% url "post" blog.pk %}">Tovább</a> </p>
            <small>{{ blog.date }}</small>
        </div>
        {% endfor %}
    </div>
    <!-- receptek vége /főoldal, 9db, legfrissebb!/ -->

{% endblock %}
{% block javascript %}
<!-- Képváltó -->
<script type="text/javascript">
    jQuery('.camera_wrap').camera({ //here I declared some settings, the height and the presence of the thumbnails
        height: '600px',
        fx: 'simpleFade',
        loaderColor: '#F5AB76'
    });
</script>
<!-- Képváltó vége -->
{% endblock %}